<h1>Picture browser is here</h1>
{{#if image}}
    {{#each image}}
        <a href="/image/{{this.dataValues.id}}"><img src="{{this.dataValues.imageURL}}" width="120" height="90"></a>
    {{/each}}
{{else}}
    <p>There are currently no Images.</p>
{{/if}}

<br>
<div id="logout">
        <form action="/auth/logout" method="POST">
            <INPUT type="submit" value="Logout">
        </form>
</div>